* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(50, 167, 145);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trybewarts-loginl{
    display: flex;
    margin-right: 20px;
}

#trybewarts-header-title{
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
}

.trybewarts-header-logo {
    height: 70px;
    margin-left: 20px;
}

.formulario-email {
    margin-right: 20px;
}

#evaluation-form{
    width: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trybewarts-forms-logo{
    height: 500px;
    float: right;
}

.informacoe-pessoais{
    display: flex;
    flex-direction: column;
    float: left;
    gap: 5px;
}






